!!! 5
%html
    %head
        %title
            Ticket Checkin
        %link{:rel => 'stylesheet', :href => '/style.css'}
    %body
        %h1 Tem preguiça de fazer checkin?
        #card
            %p#text
                Forneça o número de seu ticket e autorize seu usuário do&nbsp;
                %a{:href => 'http://www.apontador.com.br', :target => 'blank'}>Apontador
                \.
                Depois disso, sempre que for identificado um gasto novo, o checkin no Apontador será feito automaticamente.
            %form{:name => 'signup', :action => 'process_signup', :method => 'post'}
                %select#card_type{:name => 'card_type'}
                    %option{:value => 'accor'}Ticket Restaurante
                    %option{:value => 'vale'}Visa Vale
                %input{:type => 'text', :name => 'card_number', :id => 'card_number', :placeholder =>  'número do ticket'}
                %input{:type => 'submit', :value => 'Enviar', :id => 'button_', :class => 'gray'}
            #card_images
                %span
                    Aceitamos
                .clear
                %img{:src => '/images/iconTicket.png'}
                %img{:src => '/images/visa.png'}
            %a{:href => 'http://api.apontador.com.br', :target => 'blank'}
                #apontador_power
        .clear
        #disclaimer
            Desenvolvido por&nbsp;
            %a{:href => 'http://www.twitter.com/tganzarolli', :target => 'blank'}>@tganzarolli
            , com design de&nbsp;
            %a{:href => 'http://www.apontador.com.br/profile/index/2201721751.html', :target => 'blank'}>Karen Zamlutti
            , baseado em uma conversa de&nbsp;
            %a{:href => 'http://www.twitter.com/chesterbr', :target => 'blank'}>@chesterbr
            &nbsp;e&nbsp;
            %a{:href => 'http://www.twitter.com/bani', :target => 'blank'}>@bani
            \. Este não é um aplicativo oficial da Ticket (Accor), Visa Vale ou do Apontador. Todos os direitos reservados às respectivas marcas. O&nbsp;
            %a{:href => 'https://github.com/tganzarolli/ticket-checkin', :target => 'blank'}>código fonte
            &nbsp;é aberto. Estamos em pré-beta ainda, mas aguardem atualizações para irão melhorar a acuracidade do checkin :-)