%html
    %head
        %title
            Ticket Checkin
        %link{ :rel => 'stylesheet', :href => '/style.css'}
    %body
        %div
            %p Faça checkin no Apontador usando o seu Ticket Restaurante.
            %form{:name => 'signup', :action => 'process_signup', :method => 'post'}
                %label{:for => 'ticket_number'}
                %input{:type => 'text', :name => 'ticket_number', :id => 'ticket_number', :placeholder =>  'número do cartão'}
                %input{:type=>'submit', :value => 'Enviar'}
