%html
	%head
		%title
			'Ticket Checkin'
		%link{ :rel => 'stylesheet', :href => '/style.css'}
	%body
		%div
			%form{:name => 'signup', :action => 'process_signup', :method => 'post'}
				%label Ticket número:
				%input{:type => 'text', :name => 'ticket_number'}
				%input{:type=>'submit'}
			%p Em seguida você será direcionado para autenticar-se com o Apontador.
