%html
    %head
        %title 
            'Ticket Checkin'
    %body
        %h1
            Digite o número do seu ticket. Em seguida você será direcionado para autenticar-se com o Apontador.
        %form{:name => 'signup', :action => 'process_signup', :method => 'post'}
            %input{:type => 'text', :name => 'ticket_number'}
            %input{:type=>'submit'}
