!!! 5
%html
    %head
        %title
            Ticket Checkin
        %link{:rel => 'stylesheet', :href => '/style.css'}
    %body
        %h1 Tem preguiça de fazer checkin?
        %div
            %p
                Forneça o número de seu ticket e autorize seu usuário do
                %a{:href => 'http://www.apontador.com.br', :target => 'blank'}
                    Apontador
                \.
                Depois disso, sempre que identificarmos um gasto novo, faremos automaticamente o checkin.
            %form{:name => 'signup', :action => 'process_signup', :method => 'post'}
                %input{:type => 'text', :name => 'ticket_number', :id => 'ticket_number', :placeholder =>  '1234 5678 9123 4567'}
                %input{:type => 'submit', :value => 'Enviar'}