!!! 5
%html
    %head
        %title
            SanduiCheck.in
        %link{:rel => 'stylesheet', :href => '/style.css'}
        %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js', :type => 'text/javascript'}
        %script{:src => '/js/jquery.meio.mask.min.js', :type => 'text/javascript'}
    %body
    #header
        %h1#logo
            %a{:href => '/'}
                Sanduicheck.in
                %span
            %h2
                Bom apetite!
        #login{:style => 'display:none'}
            %a{:href=>"http://#{ApontadorConfig.get_map['auth_host']}/?key=#{@consumer_key}&perms=api&fc=#{@callback_login}"}
                login
        #sucesso
            %p
                =@mensagem
        .clear
        #disclaimer
            Desenvolvido por&nbsp;
            %a{:href => 'http://www.twitter.com/tganzarolli', :target => 'blank'}>@tganzarolli
            , com design de&nbsp;
            %a{:href => 'http://www.apontador.com.br/profile/index/2201721751.html', :target => 'blank'}>Karen Zamlutti
            , baseado em uma conversa de&nbsp;
            %a{:href => 'http://www.twitter.com/chesterbr', :target => 'blank'}>@chesterbr
            &nbsp;e&nbsp;
            %a{:href => 'http://www.twitter.com/bani', :target => 'blank'}>@bani
            \. Este não é um aplicativo oficial da Ticket (Accor), Visa Vale ou do Apontador. Todos os direitos reservados às respectivas marcas. O&nbsp;
            %a{:href => 'https://github.com/tganzarolli/ticket-checkin', :target => 'blank'}>código fonte
            &nbsp;é aberto. Estamos em pré-beta ainda, mas aguardem atualizações que irão melhorar a acuracidade do checkin :-)
        %script{:src => '/js/signup.js', :type => 'text/javascript'}
