body{background:#eee;font-family:Helvetica;color:#555;}
a{text-decoration:none;color:#1f4d85;}
a:hover{text-decoration:none;}
a:visited{text-decoration:none;}
.clear{clear:both}
.gray{color:#e9e9e9;border:solid 1px #555;background:#6e6e6e;background:-webkit-gradient(linear,left top,left bottom,from(#888),to(#575757));background:-moz-linear-gradient(top,#888,#575757);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888',endColorstr='#575757');}
.gray:hover{background:#616161;background:-webkit-gradient(linear,left top,left bottom,from(#757575),to(#4b4b4b));background:-moz-linear-gradient(top,#757575,#4b4b4b);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575',endColorstr='#4b4b4b');}
.gray:active{color:#afafaf;background:-webkit-gradient(linear,left top,left bottom,from(#575757),to(#888));background:-moz-linear-gradient(top,#575757,#888);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757',endColorstr='#888888');}
h1#logo{font-size:10px;float:left}
h2{font-size:1.1em;padding:55px 0 0 10px;}
#logo a{position:relative;display:block;width:205px;height:100px;color:#eee}
#logo a span{display:block;position:absolute;top:0;width:100%;height:100%;background:transparent url(/images/sanduicheckin.png) no-repeat left top;z-index:100;}
#header{width:650px;height:100px;margin:0 auto}
#card,#sucesso{background:#fefefe;border:1px solid #ccc;border-radius:20px;box-shadow:3px 3px 3px #aaa;padding:0;width:650px;height:350px;margin:0 auto}
#text{margin:50px 50px 30px 50px;font-size:11pt}
.bt_field{margin:0px 5px 10px 5px;padding:4px 5px 5px;height:18px;width:280px;font-size:11pt;border:1px solid #757575;border-radius:5px;box-shadow:0 1px 2px rgba(0,0,0,.2);}
.ticket {}
#card_type{margin-left:50px;width:150px;height:22px;}
#card_type option{font-size:11pt}
#button_{display:inline-block;outline:none;cursor:pointer;text-align:center;text-decoration:none;font-size:11pt;padding:3px 19px 5px;border-radius:5px;box-shadow:0 1px 2px rgba(0,0,0,.2);}
#button_:hover{text-decoration:none;}
#button_:active{position:relative;top:1px;}
#card_images{margin:56px 0 0 50px;float:left}
#card_images span{font-size:10pt;}
#apontador_power{background:transparent url(/images/apontador_power_small.png) no-repeat;width:100px;height:60px;margin:70px 50px 0 0;float:right}
#disclaimer{padding-top:50px;font-size:0.8em;text-align:center;width:800px;margin:auto;}
#login{text-align:right;width:500px;margin:0 auto;display:block;}
#sucesso p{margin:50px;}
.container{text-align:center;margin:0 auto;width:100%;margin-bottom:40px;margin-top:40px;}
.code{padding-top:10px;color:#ff0000;}
.text{text-align:center;width:400px;margin:0 auto}
#confirmation{color:#ddaa00;font-size:1.2em; margin-left:125px;margin-top:15px;}

